@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --my-color-gris: #ffffffef;
  --my-color-blue: #661c0f;
  --my-color-jaune: #14100f;
}

* {
  margin: 0px;
  padding: 0px;
  left: 50px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.text {
}

.textB {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  position: relative;
  font-size: 35px;
  letter-spacing: 3px;
  color: var(--my-color-blue);
}

h1 {
  left: 50px;
  display: flex;
  font-size: 3em;
  margin-left: 50px;
  color: var(--my-color-blue);
}

p {
  margin: 5px;

  display: block;
  width: 90%;
  font-size: 1.1em;
  position: relative;
  text-align: center;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  align-items: center;
  background-color: var(--my-color-blue);
}
.nav-links a {
  text-decoration: none;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 30px;
  font-size: 30px;
  border-radius: 5px;
  margin-right: 80px;
}
.nav-links a:hover {
  background-color: var(--my-color-jaune);
  color: white;
  text-decoration: #14100f;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.logo a {
  text-align: left;
  text-decoration: none;
  font-size: 40px;
  color: white;
}

.logo b {
  font-size: 55px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.logo span {
  font-size: 55px;
  color: var(--my-color-gris);
}

img {
  display: none;
}

.back {
  text-decoration: none;
  padding: 5px 10px;
}

.back a {
  background-color: rgb(149, 3, 3);
  text-decoration: none;
  color: white;
  margin-left: 50px;
  padding: 10px;
  border: #661c0f;
  border-radius: 5px;
}
