* {
  padding: 0;
  margin: 0;
}

.En-tete {
  display: flex;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  width: 100%;
}

.LOGO {
  display: flex;
  font-size: 40px;
  font-weight: 800;
}

.MENU {
  display: flex;
}

.MENU a {
  margin: 0 15px;
  font-size: 25px;
  letter-spacing: 3px;
}
