:root {
  --my-color-gris: #ffffffef;
  --my-color-blue: #661c0f;
  --my-color-jaune: #14100f;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: var(--my-color-blue);
  color: var(--my-color-gris);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  text-align: left;
  text-decoration: none;
  font-size: 40px;
  color: white;
}

.logo b {
  font-size: 55px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.logo span {
  font-size: 55px;
  color: var(--my-color-gris);
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 30px;
  font-size: 30px;
  border-radius: 5px;
  margin-right: 80px;
}
.nav-links a:hover {
  background-color: var(--my-color-jaune);
  color: white;
  text-decoration: #14100f;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
img {
  position: absolute;
  display: none;
  top: 35px;
  right: 30%;
  width: 55px;
}

.text {
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

.textB {
  font-weight: bold;
  font-size: 3em;
  color: #661c0f;
}

.text ul li {
  background-color: var(--my-color-blue);
  color: var(--my-color-gris);
  padding: 20px;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.back {
  text-decoration: none;
  padding: 5px 10px;
}

.back a {
  background-color: #661c0f;
  text-decoration: none;
  color: white;
  margin-left: 50px;
  padding: 10px;
  border: #661c0f;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .corps {
    display: flex;
    width: 100%;
    text-align: justify;
    justify-content: center;
    border: #14100f;
  }

  .nav-bar {
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    align-items: center;
    background-color: var(--my-color-blue);
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    background-color: rgba(255, 255, 255, 0.234);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links a {
    color: #14100f;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-bar .nav-links a {
    margin: 25px 0px;
    font-size: 35px;
  }

  img {
    position: absolute;
    display: block;
    top: 25px;
    right: 50px;
    width: 55px;
  }

  .mobile-menu {
    margin-left: 0;
  }
}
